.modal-dialog {
        max-width: 95%; /* Ancho máximo al 95% para pantallas pequeñas */
        width: auto; /* Permitir que el ancho se ajuste al contenido */
        margin: 1.75rem auto; /* Añadir algo de margen para evitar que se pegue a los bordes */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px; /* Bordes redondeados */

    }

    @media (min-width: 768px) {
        .modal-dialog {
            max-width: 70%; /* Para pantallas medianas o mayores, ajusta el ancho */
        }
    }

    .modal-content {
        width: 100%; /* Asegura que el contenido ocupe el ancho del modal */
        height: auto; /* Ajusta la altura al contenido */
        border-radius: 15px; /* Bordes rectos */
        overflow: hidden; /* Asegurar que el contenido no se desborde */

    }

    /* Ajustar el alto del modal para centrarlo verticalmente en la pantalla */
    .modal.fade .modal-dialog {
        height: 100%; /* Asegura que el modal ocupe toda la altura de la ventana */
    }

    .modal.fade .modal-dialog .modal-content {
        max-height: calc(100vh - 3.5rem); /* Limita la altura del contenido al tamaño de la pantalla menos un margen */
        overflow-y: auto; /* Añade scroll si el contenido es demasiado largo */
    }

    .bottom-image 
    {
    width: 100%; /* Asegúrate de que la imagen ocupe el 100% del ancho */
    height: 50px; /* Altura de la imagen */
    object-fit: contain; /* Asegúrate de que la imagen mantenga su aspecto */
    }